.type-bug { background-color: #729f3f; color: #FFFFFF }
.type-dark { background-color: gray; color: #FFFFFF }
.type-dragon { background-color: #700AEE; color: #FFFFFF }
.type-electric { background-color: #eed535; color: #FFFFFF }
.type-fairy { background-color: #EE99AC; color: #FFFFFF }
.type-fighting { background-color: #d56723;; color: #FFFFFF }
.type-fire { background-color: #F08030; color: #FFFFFF }
.type-flying { background-color: #A890F0; color: #FFFFFF }
.type-ghost { background-color: #7b62a3; color: #FFFFFF }
.type-grass { background-color: #2DCD45; color: #FFFFFF }
.type-ground { background-color: #E0C068; color: #FFFFFF }
.type-ice { background-color: #51c4e7; color: #FFFFFF }
.type-normal { background-color: #a4acaf; color: #FFFFFF }
.type-poison { background-color: #883688; color: #FFFFFF }
.type-psychic { background-color: #f366b9; color: #FFFFFF }
.type-rock { background-color: #a38c21; color: #FFFFFF }
.type-steel { background-color: #9eb7b8; color: #FFFFFF }
.type-water { background-color: #4592c4; color: #FFFFFF }
